torch==2.2.0
torchxrayvision
torchvision==0.17.0
torchaudio==2.2.0
streamlit==1.29.0
pandas==2.2.1
numpy==1.26.4
matplotlib==3.7.4
seaborn==0.13.2
plotly==6.0.0
fairlearn==0.10.0
shap==0.44.0
scipy==1.10.1
transformers==4.40.0
lime==0.2.0.1
fpdf==1.7.2
opencv-python-headless==4.9.0.80
open-clip-torch==2.20.0
watchdog==3.0.0
openai==0.28.0
albumentations
einops
accelerate
gdown
altair